:root {
  ---site-hue: 37deg;
  --c-font: hsl(0, 0%, 73%);
  --c-title-color: hsl(0, 0%, 52%);
  --c-font-page: hsl(0, 0%, 48%);
  --c-font-page_hl: hsl(120, 30%, 26%);
  --c-bg-zebra: hsl(37, 5%, 19%);
  --c-bg-high: hsl(37, 7%, 14%);
  --c-bg-page: hsl(37, 10%, 8%);
  --c-bg-box: hsl(37, 7%, 14%);
  --c-body-gradient: hsl(120, 30%, 16%);
  --c-border: hsl(0, 0%, 25%);
  --c-ublog-post-card-over-image: #ddd;
  --c-font-dimmer: hsl(0, 0%, 42%);
  --c-font-dim: hsl(0, 0%, 58%);
  --c-font-clear: hsl(from var(--c-font) h s 80% / alpha);
  --c-evt-over-img: hsla(0, 0%, 0%, 0.65);
  --c-evt-over-img-sdw: #000;
  --c-search-bg: hsl(0, 0%, 73%);
  --c-vkd-bg: hsl(0, 0%, 73%);
  --c-dbs-bg: hsl(0, 0%, 30%);
  --c-metal-top: hsl(var(---site-hue) 7% 22%);
  --c-metal-bottom: hsl(var(---site-hue) 6% 19%);
  --c-box-shadow:
    inset 0 1px 3px -2px hsl(0, 0%, 45%),
    inset 0 -4px 6px -3px hsl(from var(--c-body-gradient) h s calc(l + 3));
}
