:root {
  --c-font: hsl(0, 0%, 73%);
  --c-title-color: hsl(0, 0%, 52%);
  --c-font-page: hsl(0, 0%, 48%);
  --c-font-page_hl: hsl(120, 30%, 26%);
  --c-bg-zebra: hsl(37, 5%, 19%);
  --c-bg-high: hsl(37, 7%, 14%);
  --c-bg-page: hsl(37, 10%, 8%);
  --c-bg-box: hsl(37, 7%, 14%);
  --c-body-gradient: hsl(120, 30%, 16%);
  --c-border: hsl(0, 0%, 25%);
  --c-ublog-post-card-over-image: #ddd;
  --c-font-dimmer: hsl(0, 0%, 42%);
  --c-font-dim: hsl(0, 0%, 58%);
  --c-evt-over-img: hsla(0, 0%, 0%, 0.65);
  --c-evt-over-img-sdw: #000;
  --c-search-bg: hsl(0, 0%, 73%);
  --c-vkd-bg: hsl(0, 0%, 73%);
  --c-dbs-bg: hsl(0, 0%, 30%);
}
