:root {
  --c-body-gradient: hsl(37, 12%, 70%);
  --c-border: hsl(0, 0%, 85%);
  --c-bg-zebra: hsl(37, 12%, 96.5%);
  --c-bg-high: hsl(0, 0%, 100%);
  --c-bg-page: hsl(37, 10%, 92%);
  --c-bg-box: hsl(0, 0%, 100%);
  --c-font: hsl(0, 0%, 30%);
  --c-font-page: hsl(0, 0%, 37%);
  --c-font-page_hl: hsl(37, 12%, 85%);
  --c-title-color: hsl(0, 0%, 22%);
  --c-ublog-post-card-over-image: #333;
  --c-font-dimmer: hsl(0, 0%, 70%);
  --c-font-dim: hsl(0, 0%, 47%);
  --c-evt-over-img: hsla(0, 0%, 100%, 0.65);
  --c-evt-over-img-sdw: #fff;
  --c-search-bg: hsla(0, 0%, 73%, 0.25);
  --c-vkd-bg: hsla(0, 0%, 73%, 0.25);
  --c-dbs-bg: hsl(0, 0%, 30%);
}
