/* TODO: figure out how to invert all the colors */
:root {
  --mobile-font-size: 16px;
  ---nav-section: 53px;
  ---site-header-height: 60px;
  ---site-header-margin: 0px;
  ---sticky-gap: 0.5vmin;
  ---box-padding: 50px;
  ---main-margin: 1vw;
  --c-page-mask: hsla(0, 0%, 0%, 0.6);
}

body {
  overflow-y: scroll;
  color: var(--c-font);
  text-align: start;
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: var(--c-bg-page)
    linear-gradient(to bottom, var(--c-body-gradient), var(--c-bg-page) 116px)
    no-repeat;
}

.op-hover {
  opacity: 0.7;
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

.op-hover:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
