:root {
  --mobile-font-size: 16px;
  --txt-color: 64, 64, 64;
  --c-bg-page: hsl(37, 10%, 8%);
  /* --c-body-gradient: hsl(37, 12%, 16%); */
  --c-body-gradient: hsl(120, 30%, 16%);
  --c-font: hsl(0, 0%, 37%);
  --c-title-color: hsl(0, 0%, 52%);
  --c-font-page: hsl(0, 0%, 48%);
  ---nav-section: 53px;
  ---site-header-height: 60px;
}

body {
  overflow-y: scroll;
  color: var(--c-font);
  text-align: start;
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
}

body {
  background: var(--c-bg-page)
    linear-gradient(to bottom, var(--c-body-gradient), var(--c-bg-page) 116px)
    no-repeat;
}
