#top {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 106;
  max-width: 1800px;
  margin: 0 auto;
  height: var(---site-header-height);
}

.site-title-nav {
  display: flex;
  justify-content: flex-start;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.site-buttons {
  position: relative;
}

.site-title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  /* padding: 0 1rem; */
  padding-left: 1rem;
  gap: 0.75rem;
  font-size: 30px;
  font-weight: bold;
  color: var(--c-title-color);
}

.site-title .site-name {
  display: block;
  transform: translateY(-4px);
}

.site-icon {
  display: block;
}

.site-icon img {
  width: 40px;
}

#topnav {
  display: flex;
}

#topnav section {
  position: relative;
  height: var(---nav-section);
}

#topnav section > a {
  color: var(--c-font-page);
  display: block;
  line-height: var(---site-header-height);
  padding: 0 0.7rem;
  text-transform: uppercase;
  border-inline-start: 2px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  font-weight: bold;
}

#topnav section > a:hover {
  /* color: var(--c-body-gradient); */
  /* background-color: var(--c-font-page_hl); */

  /* TODO: experiment with better highlighing stuff */
  text-decoration: underline;
}

.overlay {
  display: none;
  position: fixed;
  inset: 0; /* covers the entire viewport */
  background: var(--c-page-mask);
  z-index: 10; /* above page content */
}

.nav-menu-container {
  display: none;
  flex-flow: row nowrap;
  align-items: center;
}

.nav-menu {
  height: 30px;
  width: 20px;
  display: none;
  padding: 0 1rem;
  padding-bottom: 10px;
  cursor: pointer;
}

.site-buttons {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 0.5em;
  margin-right: 1rem;
}

.language-select {
  display: flex;
  gap: 0.5rem;
}

.language-select img {
  max-height: 25px;
}

.language-select select {
  background-color: hsl(0, 0%, 73%);
  border-radius: 8px;
  cursor: pointer;
}

.dark-mode-toggle {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-right: 1rem;
}

.dark-mode-toggle img {
  max-height: 25px;
}

.toggle-slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;

  margin-left: 5px;
  margin-right: 5px;
  width: 30px;
  height: 10px; /* Specified height */
  border-radius: 5px;

  background: var(--c-font); /* Grey background */
  outline: none; /* Remove outline */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.toggle-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 9px;
  background: var(--c-body-gradient);

  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/* slider settings for mozilla */
.toggle-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 9px;
  background: var(--c-body-gradient);
  cursor: pointer; /* Cursor on hover */
}

@media screen and (max-width: 800px) {
  .site-title .site-name {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  #topnav {
    display: none;
    top: var(---site-header-height);
    left: 0;
    position: absolute;
    z-index: 111;
  }

  .nav-menu-container {
    display: flex;
  }

  .nav-menu {
    display: block;
  }

  .site-title {
    padding-left: 0.5rem;
  }

  .site-icon img {
    width: 30px;
  }

  /* this triggers when user focuses (clicks) the hamburger menu */
  .nav-menu-container:focus-within ~ #topnav {
    display: block;
    position: fixed;
    top: var(---site-header-height);
    bottom: 0;
    background: var(--c-bg-high);
    padding-bottom: 1.2rem;
    overflow-y: auto;
    overscroll-behavior: contain;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.5);
    border-radius: 0 3px 0 0;
  }

  .nav-menu-container:focus-within {
    background: var(--c-bg-high);
    z-index: 111;
    opacity: 1;
  }

  /* show overlay so the whole screen (apart from the menu) looks dimmer */
  .nav-menu-container:focus-within ~ .overlay {
    display: block;
  }
}
