#main-wrap {
  ---main-max-width: 1300px;
  display: grid;
  grid-template-areas:
    ". . events . ."
    ". . ratings . .";
  grid-template-columns:
    var(---main-margin) 1fr minmax(auto, var(---main-max-width))
    1fr var(---main-margin);
  gap: 1rem;
}

main {
  grid-area: ratings;
}

.page-small {
  max-width: 1100px;
  margin: auto;
  width: 100%;
}

.box {
  border-radius: 7px;
  overflow: hidden;
  background: var(--c-bg-box);
  box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px -2px rgba(0, 0, 0, 0.18),
    0 1px 5px 0 rgba(0, 0, 0, 0.1);
}

.carousel__track {
  grid-area: events;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  align-items: stretch;
  gap: 10px;
  overflow-x: auto;
  padding: 20px;
  box-sizing: border-box;
}

.carousel__track .event-card {
  flex-shrink: 0;
}

.past-event:hover .event-img {
  opacity: 1;
}

.event-card {
  --event-card-width: 200px;
  width: var(--event-card-width);
  background: var(--c-bg-box);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  color: var(--c-font);
  position: relative;
  direction: ltr;
  text-align: left;
  box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px -2px rgba(0, 0, 0, 0.18),
    0 1px 5px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 7px;
  cursor: pointer;
}

.event-card:hover {
  transform: scale(1.05) translateY(-4px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  z-index: 10; /* in case neighbors get covered */
}

.border-highlight {
  border: 1px solid orange;
}

.event-details-lnk {
  color: var(--c-font);
  overflow: hidden;
}

.event-top {
  display: block;
  position: relative;
  line-height: 0;
  border-bottom: solid var(--c-font);
}

.event-img {
  --event-img-height: 100%;
  opacity: var(--opacity, 1);
  width: 200px;
  height: var(--event-img-height);
  object-fit: cover;
  background: var(--c-font-dimmer);
  color: var(--c-font-dim);

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease;
}

time {
  font-size: 90%;
  opacity: 0.9;
  white-space: nowrap;
  unicode-bidi: plaintext;
}

.event-top time {
  right: 0;
  backdrop-filter: blur(6px);
  border-radius: 0 0 0 7px;
}

.event-bottom > h4 {
  margin: 5px;
  text-align: center;
}

.event-map-info {
  margin: 5px;
  font-size: 12px;
}

.over-img {
  --over-img-font-size: 20px;
  padding: 5px 5px;
  font-size: var(--over-img-font-size);
  opacity: 1;
  background: var(--c-evt-over-img);
  color: var(--c-ublog-post-card-over-image);
  text-shadow: 0 1px 1px var(--c-evt-over-img-sdw);

  position: absolute;
  top: 0;
  line-height: 1.3em;
}

.event-loc {
  left: 0;
  border-radius: 0 7px 0 0;
  backdrop-filter: blur(6px);
}

.pos-bottom {
  top: unset;
  bottom: 0;
}

.box__top {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.box__top,
.box-pad {
  padding: 4vh var(---box-padding);
}

.slist {
  width: 100%;
  border-bottom: 1px solid var(--c-border);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  border-bottom-width: 0px;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  font: inherit;
  vertical-align: middle;
  text-align: inherit;
}

.slist-invert tbody tr:nth-child(2n + 1) {
  background: var(--c-bg-zebra);
}

.slist td {
  vertical-align: middle;
}
.slist td {
  padding: 0.8rem;
}

.position {
  text-align: center;
}

.rating {
  font-weight: bold;
}

.rating .uncertain {
  margin-left: 0.1em;
}

td .runner-name {
  color: var(--c-font);
  font-weight: bold;
  margin-right: 0.4em;
}

td .runner-club {
  font-style: italic;
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 4px;
}

.rating-diff span {
  position: relative;
  top: -3px;
  white-space: nowrap;
}

.rating-diff .icon:before {
  display: inline-block;
  font-weight: 1000;
  font-size: 22px;
  text-shadow:
    0px 0,
    0 -1px;
  margin-right: 0.2em;
  position: relative;
}

.rating-diff .good:before {
  color: green;
  content: "\2335";
  transform: rotateX(180deg);
  top: 6px;
}

.rating-diff .bad:before {
  color: red;
  content: "\2335";
  top: -1px;
}

.rating-diff .line:before {
  color: var(--c-font);
  content: "\2212";
  top: 2px;
}

@media screen and (max-width: 1150px) {
  .event-card {
    --event-card-width: 192px;
  }
}

@media screen and (max-width: 950px) {
  .event-card {
    --event-card-width: 184px;
  }

  .event-img {
    --event-img-height: 160px;
  }
}

@media screen and (max-width: 580px) {
  /* TODO: convert those to setting vars instead */
  #main-wrap {
    gap: 0.2rem;
  }

  .carousel__track {
    gap: 5px;
  }

  .event-card {
    --event-card-width: 135px;
  }

  .event-map-info {
    display: none;
  }

  .over-img {
    --over-img-font-size: 16px;
  }

  .event-img {
    --event-img-height: 130px;
  }

  .event-bottom {
    font-size: 14px;
  }

  td {
    font-size: 12px;
  }
  td .runner-club {
    font-size: 11px;
  }

  .slist td {
    padding: 0.6rem;
  }

  .slist td .position {
    padding: 0.4rem;
  }
}
