#main-wrap {
  ---main-max-width: 1300px;
  display: grid;
  grid-template-areas:
    ". . events . ."
    ". . ratings . .";
  grid-template-columns:
    var(---main-margin) 1fr minmax(auto, var(---main-max-width))
    1fr var(---main-margin);
  gap: 1rem;
}

@media screen and (min-height: 600px) {
  #main-wrap {
    margin-top: calc(
      var(---site-header-height) + var(---site-header-margin) +
        var(---sticky-gap)
    );
  }
}

main {
  grid-area: ratings;
}

.page-small {
  max-width: 1000px;
  margin: auto;
  width: 100%;
}

.box {
  background: var(--c-bg-box);
  box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px -2px rgba(0, 0, 0, 0.18),
    0 1px 5px 0 rgba(0, 0, 0, 0.1);
}

@media (min-width: 799.3px) {
  .box {
    border-radius: 7px;
    overflow: hidden;
  }
}

.prev-next-events {
  grid-area: events;
}

.prev-next-events .page-small {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.box__top {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.box__top,
.box-pad {
  padding: 4vh var(---box-padding);
}

.slist {
  width: 100%;
  border-bottom: 1px solid var(--c-border);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  border-bottom-width: 0px;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  font: inherit;
  vertical-align: middle;
  text-align: inherit;
}

.slist-invert tbody tr:nth-child(2n + 1) {
  background: var(--c-bg-zebra);
}

.slist td {
  vertical-align: middle;
}
.slist td {
  padding: 1rem;
}
