#main-wrap {
  ---main-max-width: 1300px;
  display: grid;
  grid-template-areas:
    ". . profile . ."
    ". . ratings . ."
    ". . history . .";
  grid-template-columns:
    var(---main-margin) 1fr minmax(auto, var(---main-max-width))
    1fr var(---main-margin);
  gap: 0.5rem;
}

.profile-container {
  grid-area: profile;
  /* TODO: copy stuff here from top__box from index so each
   * section container can look the same ? */
}

.page-small {
  max-width: 1100px;
  margin: auto;
  width: 100%;
}

.box {
  border-radius: 7px;
  overflow: hidden;
  background: var(--c-bg-box);
  box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px -2px rgba(0, 0, 0, 0.18),
    0 1px 5px 0 rgba(0, 0, 0, 0.1);
}

.box-contents {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 4vh var(---box-padding);
  color: var(--c-font);
}

.runner-info {
  text-align: left;
  padding-left: 2rem;
}

.runner-info h1 {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.runner-name {
  font-weight: bold;
}

.runner-club {
  font-style: italic;
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 4px;
}

.runner-medals {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  padding-right: 2rem;
}

.medal-num {
  display: flex;
}

.medal-num svg {
  width: 20px;
  height: 20px;
}

.medal-num.gold svg {
  fill: gold;
}

.medal-num.silver svg {
  fill: silver;
}

.medal-num.bronze svg {
  fill: orange;
}

.rating-info {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  text-align: center;
}

.rating-info .course-rating .course-id {
  font-size: 18px;
  font-weight: bold;
}

.rating-info .course-rating .course-id svg {
  width: 50px;
  height: 50px;
}

#bike-background {
  fill: indianred;
}

#course1-bg,
#course2-bg,
#course3-bg {
  fill: darkcyan;
}

#course-lines {
  fill: var(--c-font);
}

@media screen and (max-width: 900px) {
  .box-contents {
    padding: 2rem 0;
  }
}

@media screen and (max-width: 580px) {
  #main-wrap {
    gap: 0.2rem;
  }
}
